body {
    margin: 0;
    padding: 0;
}

#index-body {
  background-image: url("img/lavender-bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

hr {
    color: darkviolet;
    background-color: darkviolet;
    border: 0 none;
    height: 1px;
}

.oil-img {
    height: 200px;
    width: 200px;
}

#navi {
    font-size: 1.5em;
    background-color: darkviolet;
    font-family: 'IBM Plex Sans', sans-serif;
}
#navi a {
    color: white;
}
#navi a:hover {
    color: violet;
}

#frontBut {
    background-color: darkviolet;
    color: white;
    font-size: 1.5em;
}

#formBox {
    border: 1px solid darkviolet;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.footer-links {
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.footer-links:hover {
  color: darkviolet;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  padding: 10px;
}

.footer-links:visited {
  color: ghostwhite;
}

.footer-links:active {
  color: deeppink;
}
