body {
    margin: 0;
    padding: 0;
}

#index-body {
  background-image: url("img/lavender-bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#slide {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 50px;
  color: ghostwhite;
  font-weight: bold;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

hr {
    color: darkviolet;
    background-color: darkviolet;
    border: 0 none;
    height: 1px;
}

.oil-img {
    height: 200px;
    width: 200px;
}

#oil-logo {
  width: 100%;
}

.navbar {
  background: #f2e3fa;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Laila', serif;
  font-weight: 700;
}

.navbar a {
  color: black !important;
}

.navbar a:hover {
  background: darkviolet;
  color: white !important;
  border-radius: 20px;
}

#frontBut {
    background-color: darkviolet;
    color: white;
    font-size: 1.5em;
}

#formBox {
    border: 1px solid darkviolet;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.footer-links {
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.footer-links:hover {
  color: darkviolet;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  padding: 10px;
}

.footer-links:visited {
  color: ghostwhite;
}

.footer-links:active {
  color: deeppink;
}

#center-screen {
  margin-top: 10%;
}

.support {
  background-color: #f2e3fa;
  padding: 1rem;
  margin-bottom: 1rem;
}

.section-head {
  color: white;
  background: darkviolet;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: 'Laila', serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-family: 'Laila', serif !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

h3 {
  font-family: 'Laila', serif !important;
  font-weight: 700 !important;
  font-size: 1.3rem !important;
}

h4 {
  font-family: 'Laila', serif !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
}

h5 {
  font-family: 'Laila', serif !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}
